<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>demo12_BlockOperation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F39ABD931CE77C45004E82BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F39ABDAC1CE77C45004E82BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F39ABDB71CE77C45004E82BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
